<div>
  <h1>Takin !</h1>
  <mat-grid-list cols="{{numrow}}" rowHeight="1:0.25" *ngFor="let list of cardBoard">
    <mat-grid-tile class="case"[ngClass]="{'empty': !item, 'number': item}"*ngFor="let item of list" (click)="!verified() ? isSwapable(item) : null">{{item}}</mat-grid-tile>
  </mat-grid-list>
  <div class="actions">
   <button mat-raised-button (click)="newGame()">New Game</button>
   <button mat-raised-button (click)="numrow=3; newGame()">3X3</button>
   <button mat-raised-button (click)="numrow=4; newGame()">4X4</button>
   <button mat-raised-button (click)="numrow=5; newGame()">5X5</button>
   <span>Nombre de tours: {{turn}}</span>
  </div>
  <div *ngIf="verified()">Congratulation !!!</div>
</div>
