.case{
  border: 1px solid black;
  &.number{
  background-color: gray;
}
  &.empty{
  background-color: white;
}
}
.actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
mat-toolbar{
  border: 1px solid black;
}
mat-toolbar-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
